.journal-content-article .sw-title a{
	color: black;
}

.journal-content-article img{
	float: left;
	padding-right:10px;
	padding-bottom:10px;
	width: 130;
}
#banner {
	/*background:url("../images/custom/151011.png") no-repeat scroll left top transparent ;
	background-position: 315px 0px;
	background-size: 94px;*/
}

